html,body{
	padding:0;
	margin:0;
	font-family: Verdana;
	outline: 1px black dotted;
}
.empty{
	height: 120px;
}
#opciones{
	text-align: right;
	font-size: 15px;
	padding: 10px;	
}
.opcion{
	padding:2px;
}
.opcion:hover{	
	border-bottom: 2px black solid;
	cursor: pointer;
}
#titulo{
	text-align: center;
	font-size: 20px;
	height: 150px;
}
#quienesSomos{
	padding: 10px;
	height: 150px;
	border: 1px black dotted;
}
